:root{
    --primary-blue-lower-opacity: #2A3F5490;
    --primary-blue: #2A3F54;

}
.myButton1 { /* CUSTOM */
    background: var(--primary-blue);
    color: white;
    width: 100px;
    padding: 5px 0px;
    border: 3px solid var(--primary-blue);
    border-radius: 2px;
    font-size: 18px;
    transition: .3s;
    overflow: hidden;
}
.myButton1:focus {
    outline: none;
}

.myButton1:hover {
    background: var(--primary-blue-lower-opacity);
    cursor: pointer;
}

.myButton1:hover:before {
    transform: translateX(300px) skew(-15deg);
    opacity: .6;
    transition: .7s;
}

.myButton1:hover:after {
    transform: translateX(300px) skew(-15deg);
    opacity: 1;
    transition: .7s;
}

.addButton {
    background:#00993380;
    color: white;
    border: 3px solid #009933;
    border-radius: 1.5rem;
    font-size: 18px;
    padding: 3px;
    transition: .3s;
    overflow: hidden;
}

#cardBlue {
    background-image: linear-gradient(-90deg, var(--primary-blue), var(--primary-blue-lower-opacity));
}

#cardBlue input{
    background: #2A3F5460;
    color: white;
    border: 2px solid var(--primary-blue-lower-opacity);
    border-radius: .2rem;
}

#cardBlue input::placeholder{
    color: white;
    font-size: 18px;
}

.btn-view {
    background: #3498db;
    background-image: linear-gradient(180deg, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.btn-view:hover {
    background: #3cb0fd;
    background-image: linear-gradient(180deg, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn-negative {
    background-image: linear-gradient(180deg, rgb(224, 64, 64), #d42525);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: solid #631d1d 2px;
    text-decoration: none;
}

.btn-negative:hover {
    background-image: linear-gradient(180deg, rgb(255, 100, 86), #ff4736);
    text-decoration: none;
}

.btn-positive {
    background-image: linear-gradient(180deg, rgb(11, 215, 73), rgb(2, 167, 50));
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: solid rgb(7, 132, 45) 2px;
    text-decoration: none;
}

.btn-positive:hover {
    background-image: linear-gradient(180deg, rgb(28, 224, 88), rgb(2, 199, 59));
    text-decoration: none;
}

.btn-gray {
    background-image: linear-gradient(180deg, rgb(113, 113, 113), rgb(82, 82, 82));
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: solid rgb(64, 64, 64) 2px;
    text-decoration: none;
}

.btn-gray:hover {
    background-image: linear-gradient(180deg, rgb(149, 149, 149), rgb(113, 113, 113));
    text-decoration: none;
}

/* ---------------------Modal--------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}